*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
header {
    display:flex;
    gap:20px;
    padding:10px 20px;
    background:#FFFFFF;
    color:#000;
}
header a {
    color:#000;
    text-decoration:none;
}
#navbar {
    flex-grow:1;
    overflow: hidden;
}
#navbar ul{
    text-align:right;
}
#navbar li {
    display:inline;
}
#navbar li a {
    display:inline-block;
    padding:12px;
    transition:color 0.3s;
}
#navbar li a:focus,#navbar li a:hover{
    background-color: #52ab98;
}
@media (max-width:768px) {
    body > header a[href^="#"] {
      display:block; 
    }
h1 + a {
      display:block;
      position:absolute;
      top:20px;
      right:16px;
      width:28px;
      height:24px;
      --gradColor:#000;
      background:linear-gradient( 0deg, var(--gradColor) 0% 20%, transparent 20% 40%,
                           var(--gradColor) 40% 60%, transparent 60% 80%, var(--gradColor) 80% 100%);
}
#navbar, #navbar > a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#navbar {
    left:-100%;
    height:100%;
    opacity:0;
    background:#000;
    transition:opacity 0.3s, left 0s 0.3s;
}
#navbar:target{
    left:0;
    opacity:1;
    transition:opacity 0.3s;
}
#navbar ul {
    position:relative;
    top:64px;
    left:-50%;
    background:#222;
    transition:left 0.3s;
}
#navbar:target ul{
    left:0;
}
#navbar li a {
    color: #FFFFFF;
    display:block;
    text-align:center;
}
.dropdown-content a{
    color: #000;
}
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #808080;
}
main{
    border-top: 6px solid #DD0000 ;
}
.grid-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 0.125fr 4fr 0.2fr;
    grid-template-areas: 
        "main main"
        "grid-item1 grid-item2"
        "footer footer";
    grid-gap:2px;
    color: #000;
    text-align: center;
}
main{
    grid-area: main;
    border-radius: 5px;
    padding: 5px 0;
    background-color: #f2f2f2;
    color: #000;
}
#grid-item1{
    grid-area: grid-item1;
    border-radius: 5px;
    padding: 5px 0;
}
#grid-image{
    object-fit: cover;
}
#grid-item2{
    grid-area: grid-item2;
    border-radius: 5px;
    padding: 100px 0;
    background-color: #2b6777;
    color: white;
    vertical-align: middle;
}
#footer{
    grid-area: footer;
    border-radius: 5px;
    padding: 5px 0;
    background-color: #303030;
    color: #8F8F8F;
}
@media only screen and (max-width: 768px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.3fr;
        grid-template-areas: 
            "main"
            "grid-item1"
            "grid-item2"
            "footer";
    }
}
#btn{
	width: 100px;
	height: 50px;
	font-size: 20px;
	color: #FF0000;
	border-radius: 10px;
	border-width: 3px;
	cursor:pointer;
}